* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background:rgba(243, 204, 89, 0.22);
  font-family: "IBM Plex Sans Arabic", sans-serif;
}
.sirah {
  position: relative;
  margin: 80px auto;
  max-width: 1200px;
  background-color:rgb(61, 27, 7);
}
.sirah h1 {
  color: #f3cc59;
  height; 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 3rem;
  padding-top: 30px;
}
.sirah .container {
  position: relative;
  padding: 10px 50px;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}
@keyframes movedown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.sirah .container:nth-child(1) {
  animation-delay: 0s;
}
.sirah .container:nth-child(2) {
  animation-delay: 1s;
}
.sirah .container:nth-child(3) {
  animation-delay: 2s;
}
.sirah .container:nth-child(4) {
  animation-delay: 3s;
}
.sirah .container:nth-child(5) {
  animation-delay: 4s;
}
.sirah .container:nth-child(6) {
  animation-delay: 5s;
}
.sirah .container:nth-child(7) {
  animation-delay: 6s;
}
.sirah .container:nth-child(8) {
  animation-delay: 7s;
}
.sirah .container:nth-child(9) {
  animation-delay: 8s;
}
.sirah .right-container {
  right: 0;
}
.sirah .left-container {
  right: 50%;
}

.sirah::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #f3cc59;
  box-shadow: 0px 0px 5px #f3cc59;
  top: 127px;
  left: 50%;
  margin-left: -3px;
  animation: moveline 9s linear forwards;
}

@keyframes moveline {
  from {
    height: 0;
    box-shadow: 0px 0px 0px #f3cc59;
  }
  to {
    height: calc(100% - 127px);
    box-shadow: 0px 0px 10px #f3cc59;
  }
}
.sirah .right-container::after,
.sirah .left-container::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 20px;
  border-color: transparent transparent transparent #f3cc59;
  top: 10px;
  left: 3px;
}
.sirah .left-container::after {
  left: calc(100% - 43px);
  border-color: transparent #f3cc59 transparent transparent;
}

@media (max-width: 767px) {
  .sirah::before {
    left: calc(100% - 20px);
  }
  .sirah .container {
    width: 100%;
    right: 0;
  }
  .sirah .container::after {
    left: calc(100% - 63px);
    border-color: transparent  #f3cc59 transparent transparent;
  } 
}
.sirah section {
  position: relative;
  padding: 0 2.2rem 1.3rem 2.2rem;
  border-radius: 7px;
  color: #f3cc59;
  over-flow: hidden;
  line-height: 1.6;
}
.text-area h2.title{
  font-size: 27px;
  margin-bottom: 15px;
}
.text-area p.text {
  font-size: 16px;
  font-weight: 600;
}
.text-area p.hadis {
  margin: 3px 0;
  font-size: 16px;
  text-shadow: 0px 0px 15px #f3cc59;
  font-weight: 600;
}