*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --main-color: rgba(243, 204, 89, 0.22);
    --btn-color: #3d1b07;
    --btn-hover: #3d1b07b2;
    --section-padding: 20px;
    --text-color: rgb(239, 186, 28);
}
.container{
    width: 85%;
    margin: 0px auto;
}
.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsive grid */
    gap: 15px;

}
.books{
    background-color: var(--main-color);
}
.book {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.book img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.book p {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 8px;
    color: #333;
}

.book:hover {
    transform: scale(1.05);
}
.btn{
	width: 100%;
	padding: 5px;
	border: none;
	background-color: var(--btn-hover);
	color: white;
	cursor: pointer;
	font-size: 1rem;
	margin: 10px 0px;
	font-family: "IBM Plex Sans Arabic", sans-serif;
}
.btn:focus,
.btn:hover{
	background-color: var(--btn-color);
}
.books .title {
    height: 10vh; 
    display: flex;
    justify-content:flex-end;
    align-items: center;
    color: black;
    position: relative;
    border-bottom: 2px solid var(--btn-color);
    margin-bottom: 10px;
    position: relative;
}
.books .title::after{
    content: "";
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 97px;
    height: 3px;
    background-color: var(--btn-color);
}
.books .title .text {
    font-size: clamp(1rem, 2vw, 1.5rem); /* Scales based on screen width */
    text-align: center;
    font-weight: 800;
    color: var(--text-color);
	margin: 0px;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    
}